<p>
  <mat-toolbar color="primary">
    <span>Cities</span>
  </mat-toolbar>
</p>
<div style="margin: 15px">
  <div style="display: flex">
    <mat-form-field class="example-form-field">
      <mat-label>Search By Name</mat-label>
      <input matInput type="text" [formControl]="searchKey" />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchByName()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="example-form-field">
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15]"
        [pageIndex]="pageIndex"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
  <div class="my-container-wrap">
    <mat-card class="example-card" *ngFor="let item of cities">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <button
          mat-mini-fab
          matTooltip="Primary"
          color="primary"
          aria-label="Example mini fab with a heart icon"
        >
          {{ item.externalId }}
        </button>
      </mat-card-header>
      <img mat-card-image src="{{ item.imageUrl }}" />
    </mat-card>
  </div>
</div>
